
version: '2.1'

orbs:
  android: circleci/android@2.5
  bats: circleci/bats@1.0.0
  macos: circleci/macos@2

executors:
  github:
    docker:
      - image: cibuilds/github:0.13.0

parameters:
  java-version:
    type: integer
    default: 17

filters_main_only: &filters_main_only
  filters:
    tags:
      only: /.*/
    branches:
      only: main

filters_tags_only: &filters_tags_only
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

filters_always: &filters_always
  filters:
    tags:
      only: /.*/

jobs:
  lint:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - run: yarn install
      - run: make lint

  unit_test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - run: yarn install
      - run: yarn test

  smoke_tests_android:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - run: yarn install
      - bats/install
      - run:
          name: What's the BATS?
          command: |
            which bats
            bats --version
      - run:
          name: Install React Native
          working_directory: example
          command: yarn install
      - run:
          name: Start React Native
          working_directory: example
          command: yarn start
          background: true
      - run:
          name: Install OTel Collector
          environment:
            COLLECTOR_VERSION: "0.126.0"
          command: |
            curl --proto '=https' --tlsv1.2 -fOL https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v${COLLECTOR_VERSION}/otelcol_${COLLECTOR_VERSION}_linux_amd64.tar.gz
            tar -xvf otelcol_${COLLECTOR_VERSION}_linux_amd64.tar.gz
      - run:
          name: Start OTel Collector
          command: touch ./smoke-tests/collector/data.json && ./otelcol --config=./smoke-tests/collector/otel-collector-config.yaml --set="exporters::file::path=./smoke-tests/collector/data.json"
          background: true
      - run:
          name: Start Mock Server
          working_directory: smoke-tests/mock-server
          command: npm install && npm start
          background: true
      - android/change-java-version:
          java-version: << pipeline.parameters.java-version >>
      - run:
          name: "Run Android UI Tests"
          command: make android-test
      - store_artifacts:
          path: example/build/outputs/connected_android_test_additional_output
      - run:
          name: "Check Smoke Test Assertions"
          command: make smoke-bats

  smoke_tests_ios:
    macos:
      xcode: 16.2.0
    resource_class: m4pro.medium

    steps:
      - attach_workspace:
          at: ./
      - macos/preboot-simulator:
          version: "18.2"
          platform: "iOS"
          device: "iPhone 16"
      - checkout
      - run: brew tap wix/brew
      - run: brew install applesimutils
      - run: yarn install
      - bats/install
      - run:
          name: What's the BATS?
          command: |
            which bats
            bats --version
      - run: xcodebuild -version
      - run:
          name: Install React Native
          working_directory: example
          command: yarn install
      - run:
          name: Start React Native
          working_directory: example
          command: yarn start
          background: true
      - run:
          name: Cocoapods Install
          working_directory: example/ios
          command: pod install
      - run:
          name: Install OTel Collector
          environment:
            COLLECTOR_VERSION: "0.126.0"
          command: |
            curl --proto '=https' --tlsv1.2 -fOL https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v${COLLECTOR_VERSION}/otelcol_${COLLECTOR_VERSION}_darwin_arm64.tar.gz
            tar -xvf otelcol_${COLLECTOR_VERSION}_darwin_arm64.tar.gz
      - run:
          name: Start OTel Collector
          command: touch ./smoke-tests/collector/data.json && ./otelcol --config=./smoke-tests/collector/otel-collector-config.yaml --set="exporters::file::path=./smoke-tests/collector/data.json"
          background: true
      - run:
          name: Start Mock Server
          working_directory: smoke-tests/mock-server
          command: npm install && npm start
          background: true
      - run:
          name: "Run iOS UI Tests"
          command: make ios-test
      - run:
          name: "Check Smoke Test Assertions"
          command: make smoke-bats

  publish_github:
    executor: github
    steps:
      - run:
          name: "GHR Draft"
          command: ghr -draft -n ${CIRCLE_TAG} -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG}

  publish_npm:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - run:
          name: store npm auth token
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run: yarn install --frozen-lockfile
      - run: yarn prepare
      - run: npm publish --access public

workflows:
  build:
    jobs:
      - unit_test:
          <<: *filters_always
      - lint:
          <<: *filters_always
      - smoke_tests_android:
          <<: *filters_always
      - smoke_tests_ios:
          <<: *filters_always
      - publish_npm:
          <<: *filters_tags_only
          context: Honeycomb Secrets for Public Repos
          requires:
            - smoke_tests_ios
            - smoke_tests_android
      - publish_github:
          <<: *filters_tags_only
          context: Honeycomb Secrets for Public Repos
          requires:
            - publish_npm
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - unit_test
      - lint
      - smoke_tests_android
      - smoke_tests_ios

